.DS_Store
node_modules
*.lock
*.log
*.backup

/dist
/public
/assets/jsconfig.json
/resources/_gen/images
/assets/secrets
/.idea/.gitignore
/.idea/cloudflare-docs.iml
/.idea/modules.xml
/.idea/vcs.xml
/.vscode/devdocs.code-snippets
/.vscode/extensions.json
/.hyperlint/config.yaml
